body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  .bginfo{
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    z-index: 1;
    
  }

  .bgsiamo{
    background-color: #5b5b5b;
    border-radius: 50px;
    width: 50%;
    height: auto;
    display: block;
    z-index: 3;
    padding: 4%;
    margin-bottom: 20%;
  }

.bacasime-antique-regular {
    font-family: "Bacasime Antique", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.montserrat-uniquifier {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.inconsolata-uniquifier {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.centr{
  align-self: center;
}


.w80{
  width: 10%;
}

.w50{
  width: 50%;
}

.mixb{
  mix-blend-mode: difference;
}
.in{
  font-family: "Inconsolata" monospace;
}

.ff{
  font-family: "Montserrat", sans-serif;
}

.smallfont{
  font-size: 10px;
}

.c{color:#96bc31}
  
.bp{
  padding-bottom: 10px;
}

.bt{
  padding-top: 10px;
}

.bt40{
  padding-top:40px ;
}

.pl0{
  padding-left: 0;
}

.bp30{
  padding-bottom: 30px;
}

.tm{
  margin-top: 30px;
}

.tm80{
  margin-top: 80px;
}


.fs{
  font-size: 15px;
}



.mb10{
  margin-bottom: 10px;
}

.mb20{
  margin-bottom: 15px;
}

.mb30{
  margin-bottom: 30px;
}

a{text-decoration: none;}

.b{font-weight: bold;}

.tc{
  text-align: center;
}

.gray{
  color: #a0a0a0
}
.g2{
  color: #666;
}

.tw{color:#fff}

h1,h2,h3,h4, p{color: #000;padding-bottom: 30px; font-family:"Montserrat" ;}
h6 {color:#fff;padding-bottom: 30px;}

p1{line-height: 28px;color: #666; font-weight: 300;}



.tb{color:black !important}

.big-text{font-size: 70px;font-weight: 900;font-family: "Montserrat", sans-serif;z-index: 2}
.medium-text{font-size: 40px;font-family: "Montserrat", sans-serif;}
.small-text{font-size: 20px;font-family: "Montserrat", sans-serif;padding: 2px;}
.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;font-family: "Montserrat", sans-serif;z-index: 2;}
.small-title{font-size: 20px;font-family: "Montserrat", sans-serif; padding-bottom: 10px;padding-top: 10px; color:rgba(150, 188, 49);}

.fs150{
  font-size: 150px;
}

.fs100{
  font-size: 100px;
}

.ct{
  text-align: center;
  color: #070607
}

.infotitle{
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  font-family: "Montserrat";
  text-align: center;

}

.button{padding: 18px
    15px; background: #96bc31;display: inline-block;border-radius: 4px;font-family: "Montserrat";
    box-shadow: 0px 0px 10px 0px black; color:black ;
}
.buttonw{padding: 18px
    15px; background: #fff;display: inline-block;border-radius: 4px;font-family: "Montserrat"; margin-top: 10px;
    box-shadow: 0px 0px 10px 0px black; color:black
}

.buttona{padding: 18px
    15px; background: #fd8c31;display: inline-block;border-radius: 4px;font-family: "Montserrat"; margin-top: 10px;
    box-shadow: 0px 0px 10px 0px black; color:black
}

.green{
  color:#96bc31
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0,0,0,0.0), rgb(0, 0, 0,0.9));
}



.logo{z-index: 1;
}
.menu{
    z-index: 0;
    width: 100%;

}

.menu li{display: inline-block;margin-left: 5px;}
.menu li a{
  color : #fff;padding: 15px;
  display: block;
  font-family: "Montserrat", serif;
  margin-left :15 px;
  transition: 0.3 ease;
}


.menu li a:hover{
  opacity: 0.5;
}
.menu li a.active{
  color:#96bc31;
}

.hamburger{ display: none;}

.hamburger span{
    background: #fff;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;

}


@media (max-width: 768px) {
    .big-text{font-size: 40px;}
    .cta{display: none;}
    .menu{position: absolute;top: 0;right: 100%;height: 100vh;;background: #000;padding-top: 80px;}

    .menu  li{display: block; margin-top: 70px;}
    .menu li a{font-size: 20px;}
    .menu-open{right: 0%;}
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid red;
        position: absolute;
        top: 40px;
        right: 30px
    }

  }

.hero{


    height: 600px;
    display: flex; width: 100% ;align-items: center;
    background-size: cover;
    font-family: "montserrat";
    background: linear-gradient(0deg, rgba(0,0,0,0.0), rgb(0, 0, 0,0.9)),
    url('foglia.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 0px 100px 0px black;
}

.heroinfo{
    height: 600px;
    display: flex; width: 100% ;align-items: center;
    background-size: cover;
    font-family: "montserrat";
    background: linear-gradient(0deg, rgba(0,0,0,0.0), rgb(0, 0, 0,0.9));
    background-size: cover;
    box-shadow: 0px 0px 100px 0px black;
}

.herosiamo{
  height: 1000px;
  display: flex; width: 100% ;align-items: center;
  background-size: cover;
  font-family: "montserrat";
  background: linear-gradient(0deg, rgba(0,0,0,0.0), rgb(0, 0, 0,0.9));
  background-size: cover;
  box-shadow: 0px 0px 100px 0px black;

}



.heroinfo__content{
  display:block;
  z-index: 3;
  margin-left: 6%;
  margin-top: 9%;

}

.herosiamo__content{
  display:block;
  z-index: 3;
  margin-left: 5%;
  margin-top: 20%;

}

.herosiamo__content__sopra{
  margin-left: 6%;
  margin-bottom: 50px;
}

.heroinfotitle{
  background: url('spirale.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: 20%;
}

.heroprotitle{
  background: url('spirale7.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: 20%;
}

.herosiamotitle{
  background: url('spirale5.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: 50%;
}

.heroprointro{
  background: url('spirale7.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: 20%;
}

.herosiamointro{
  background: url('spirale5.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: cover;
  padding-top: 2%;
}


.heroinfointro{
  background: url('spirale.jpg') center;
  background-clip: text;
  color: transparent;
  background-size: cover;
  padding-top: 2%;
}

#prod{
    background: linear-gradient(0deg, rgba(0,0,0,0.0), rgb(0, 0, 0,0.9)),
    url('coltivazioni.jpg') no-repeat center center;
    background-size: cover;
}

.hero__content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
}


.poster{
    display: flex;
    height: 70vh;
    width: 100%;
    margin-top: 100px;;

}


.poster__img img{
  width: 100%;
  height: 100%;
  border-top: 3px solid rgba(134,200,32);

} 

.poster__content{
    width: 45%;
    padding: 40px 50px;
    font-family: "montserrat";
    display: flex;
    flex-wrap: wrap;
}


.col-50{width: 50%;padding: 5%;}


.coveri{
  height: 80vh;
  width: 100%;
  padding: 4%;
  background: url("cover-4.jpg") no-repeat center center; background-size:cover;
  display:flex;justify-content:center;align-items: center;
}

.img-res{width: 100%;height: auto;}

.bginfo{
  background-color: #fff;
  border-radius: 50px;
  width: 100%;
  z-index: 1;
  
}

.video {
  position:fixed;
  display: block;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: 100%;

}
.ft{
  font-size: 50px; font-weight: 800px;
}

@media (max-width: 768px) {
  .poster{display: block; height: auto;; width: 100%;}
  .poster__img, 
  .poster__content{width: 100%;}
  video {
      position:fixed;
      top: 50%;
      left: 50%;
      display: block;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
      
}

@media (max-width: 1023px){

  .poster{display: block; height: auto;; width: 100%;}
  .poster__img, 
  .poster__content{width: 100%;}
}
    



    
      
.cover{
  display: flex;
  padding: 8%;
  background: linear-gradient(0deg, rgba(0,0,0,0.3), rgb(0, 0, 0,0.9)),
    url('alto.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0px 0px 100px 0px black;
  margin-top: 100px;

}

.covertext{
  width: 50%;
  font-family: "montserrat";
  padding-left: 30px;

}
.covertitle{
  bottom: 50%;
  font-family: "montserrat";
  display: block;
  align-items: center;
  padding: 50px ;
  position:relative
}
.content{max-width: 900px; margin: 40px auto;}

@media (max-width: 768px) {
  .cover{display: block; padding: 0px;}
  .covertext, .covertitle{width:100%; padding: 50px;}

}

@media (min-width: 768px) and (max-width: 1023px){
  .cover{display: block; padding: 0px;}
  .covertext, .covertitle{width:100%; padding: 50px;}

}

.benefici{
  width: 50%;
  align-items: center;
  margin-top: 15%;
  margin-left: 25%;
  padding-bottom: 1%;
  z-index: 4;
  justify-content:center;
  border-bottom: 10px solid #8eab1e;
  border-radius: 10px;
  background: url("sfondotesto3.jpg") center;
  background-clip: text;
  color: transparent;
  background-size: cover;
  margin-bottom: 1%;
}

.js{
  justify-content: center;
}



.main-carousel{
  margin-top: 120px;
  margin-bottom: 100px;
  padding-bottom:  2%;
}

.carousel-cell{
  width: 350px;
  height: 350px;
  margin-right: 40px;

}

.carousel-cell__content-terapia{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('terapia.png');
  background-repeat: no-repeat;
  background-position: center;
  display:flex ;
  justify-content: center;
}

.content-terapia{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}



.carousel-cell__content-terapia:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('terapia.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}

.carousel-cell__content-terapia:hover .content-terapia{
  transition-duration: 2s;
  display: inline;
  text-size-adjust:50 px;
  color: white;
}



.carousel-cell__content-infiammazione{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('infiammazione.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-cell__content-infiammazione:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('infiammazione.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}

.content-infiammazione{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-infiammazione:hover .content-infiammazione{
  transition-duration: 2s;
  display: inline;
  color: white;
}


.carousel-cell__content-cancro{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('cancro.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-cell__content-cancro:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('cancro.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}

.content-cancro{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-cancro:hover .content-cancro{
  transition-duration: 2s;
  display: inline;
  color: white;
}

.carousel-cell__content-sociale{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('sociale.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-cell__content-sociale:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('sociale.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}


.content-sociale{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-sociale:hover .content-sociale{
  transition-duration: 2s;
  display: inline;
  color: white;
}

.carousel-cell__content-pressione{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('occhio.png');
  background-repeat: no-repeat;
  background-position: center;
}


.carousel-cell__content-pressione:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('occhio.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}



.content-pressione{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-pressione:hover .content-pressione{
  transition-duration: 2s;
  display: inline;
  color: white;
}



.carousel-cell__content-sonno{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('sonno.png');
  background-repeat: no-repeat;
  background-position: center;
}


.carousel-cell__content-sonno:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('sonno.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}

.content-sonno{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-sonno:hover .content-sonno{
  transition-duration: 2s;
  display: inline;
  color: white;
}



.carousel-cell__content-appetito{
  width: 100%;
  height: 100%;
  background: #8eab1e;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  background-image: url('cibo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.content-appetito{
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  position: relative;
  display: none;
}

.carousel-cell__content-appetito:hover{
  transition-duration: 2s;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgb(0,0,0,1)),
     url('cibo.png');
  background-position: center;
  color: white;
  background-repeat: no-repeat;  
}


.carousel-cell__content-appetito:hover .content-appetito{
  transition-duration: 2s;
  display: inline;
  color: white;
}





.titolo-pro{
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 5%;
    font-family: 'montsserat';
    justify-content:center;
    background: url('spirale4.jpg') center;
    background-clip: text;
    color: transparent;
    background-size: 20%;

}


#prodotti{
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

.section-p1{
  display: flex;
  flex-wrap: wrap;
  position:absolute;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 0px black;
  
}

#prodotti .pro{
  width: 23%;
  min-width: 250px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.pro-container{
  width: 20%;
  min-width: 200px;
  padding: 10px 13px ;
  border: 1px solid white;
  background-repeat: 20px;
  margin-left: 9%;
  background-color: white;
  margin-top: 70px;
  box-shadow: 0px 0px 3px 0px black;
  position: relative
  right 40%,left 60%;
  transition: 1s;
}

.pro-container:hover{
  transform: scale(1.1);
}


#prodotti .pro img{
  width: 100%;
  border-radius: 20px;
  min-width: 100%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 12%;
  position:relative;
  left: 3%;
}

.enorme{
  font-size: 100px;
}


.des{
  width:80%;
  display: flex;
  flex-direction: column;
  position:relative;
}

.centr{
  align-self: center;
}

.star{
  display: flex;
  width: 10% ;
  align-items: center;
  position:relative;
  left:20%;
  margin-bottom: 5%;
}

.copertina{
  display: flex;
  height: 70vh;
  width: 100%;
  margin-top: 150px;
  display:block
}

.copertina{
  width: 100%;
  height: 100%;

}

.copertina img{
  position: relative;
  width: 30%;
  height: 30%;
  margin-left: 35%;
  border-bottom: 5px solid rgba(134,200,32);
  
} 

.copertina_title{
  text-align: center;
  width: 100%;
  padding: 40px;
  font-family: "montserrat";
}

.proinfo{
  display: flex;
  height: 70vh;
  width: 100%;
  margin-top: 50px;;
  margin-bottom: 800px;
}



.grafico{
  width: 30%;
  height: 100%;
  margin-left: 6%;
  margin-right: 4%;;
  font-family: "montserrat";
  margin-top: 5%;


}

*{
  padding: 0px;
  box-sizing: border-box;
}



.footercontainer{
  background-color: #000;
  width: 100%;
  box-shadow: 0px 0px 30px 0px black;
  padding-top: 30px;
  padding-bottom: 30px;


}




.icone{
  display:flex;
  justify-content: center;
}

.icone a{
  text-decoration: none;
  background: white;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 50%;

}

.icone a i{
  color:black;
  opacity: 0.7;
  font-size: 100px;
}

.icone a :hover{
  color: #8eab1e;
  transition: 0.5s;
  opacity:1
}



.footernav{
  margin: 30px;
  width: 100%;
}

.footernav ul{
  display: flex;
  justify-content: center;
}

.footernav ul li a{
  font-family: 'montserrat';
  color: #fff;
  margin: 15px;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.5s;

}
 .footernav ul li a:hover{
  opacity: 1;
 }

 .footerbottom{
  background-color: black;
  color:white;
  width: 80%;
  padding-top: 1%;
  margin-left:10%;
  text-align: center;
 }



.info__content{
margin-left: 30px; ;
margin-top: 10px;
width: 55%;
padding: 40px;
padding-top: 0px;
font-family: "montserrat";
display: flex;
flex-wrap: wrap;
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}












.tappe{
    margin-top: 100px;
    font-family: "montserrat";

}
.tappe li{
  padding: 40px 8%;
  display: flex;
  flex-direction: row;
}
.tappe li h5{
  font-size: 50px;
  color: #96bc31;
  font-weight: bold;
  padding: 0px 0px 30px;
}

.tappe__numero p{
  font-size: 300px;
  color: #96bc31;
}

.tappe__testo{
  padding: 60px 50px 30px 50px;
  max-width: 800px;
  border-bottom: 2px solid #b6c983;
}

.tappe__numerobolla{
  width: 300px;
  height: 300px;
  background: #96bc31;
  border-radius: 100%;
  line-height: 350px;
  font-weight: bold;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

#reverse{
  flex-direction: row-reverse;
  text-align: right;
}

.tappe__numerobolla img{
  padding: 40px 50px 60px 50px;
  width: 300px;
}

@media (max-width: 768px) {
  .tappe li{display: block;}
  .tappe li h5{font-size: 30px;}
  #reverse{text-align: left;}
}